<div id="about-me" class="col-md-offset-3 col-md-6">
  <h4>about me</h4>
  <p>I’m a systems engineer currently working in the cloud! I enjoy solving problems, monitoring, automation, and writing dirty bash scripts. Currently working at <a HREF="http://www.acquia.com/" TARGET="_blank">Acquia</a>!</p>
  <p>Here I'll be writing about things I do at work so I won't forget them and maybe someone else will also find them useful. I'll probably also write about cooking and other random things I'm in to at the moment.</p>
  <p>In my free time I enjoy playing guitar and hanging out with my daughter.</p>
  <div class="social-icon-list">
    <a title="Twitter" href="https://twitter.com/{{site.twitter_user}}"><img src="/images/glyphicons_social_31_twitter.png"/></a>
    <a title="GitHub" href="https://github.com/{{site.github_user}}"><img src="/images/glyphicons_social_21_github.png"/></a>
    <a title="E-Mail" href="mailto:{{site.owner_email}}"><img src="/images/glyphicons_social_39_e-mail.png"/></a>
  </div>
</div>
